@charset "UTF-8";
@font-face {
    font-family: "lovely" ;
    src: url(../Lovely.ttf);
}
* {
    font-family: Arial, Helvetica, sans-serif;
   margin: 0px;
   padding: 0px;
}

body,
html {
    background-color: #876405ac;
}

header {
    background-color: #b28405;

}

header>h1 {
    color: black;
    padding: 10px;
    text-align: center;
    font-family: "lovely";
    font-size: 3em;
    text-shadow: 3px 3px 7px rgba(255, 255, 255, 0.442);
}
menu {
    display: none;

}

menu > ul {
   list-style-type: none;
}

menu > ul > li > a {
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    background-color: #795300;
    color: white;
    border-top: 1px solid rgb(60, 42, 13);
    font-weight: bolder;

}

menu > ul > li > a:hover {
    background-color: #ffff942d;
}

main {
    width: 80vw;
    background-color: rgba(255, 255, 255, 0.575);
    margin: auto;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.385);
}
article {
    columns: 2;
}

article > h2 {
    color: black;
    text-align: center;
    text-decoration: underline;
    text-shadow: 3px 3px 7px rgba(0, 0, 0, 0.308);
    font-size: 3.5vw;
}

article > p {
    text-align: justify;
    text-indent: 20px;
    margin-bottom: 10px;
    line-height: 30px;
    padding: 28px;
    font-weight: 600;
    text-shadow: 3px 3px 7px rgb(255, 255, 255);
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bolder;
    text-decoration: dashed;
    padding: 0px;
    margin-top: 10px;
}
footer > p {
    background-color: #79530054;
    width: 768px;
    margin: auto;
    border-radius: 10px;
    padding: 2px;

}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

span#burguer {
    display: block;
    background-color: #3d2a00;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

span#burguer:hover {
    background-color: #cf9a06;
    color: black;
    

}

img {
    display: block;
    margin: auto;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.502);
}

.img1 {

   font-weight: bolder;
   line-height: 30px;
}

.img1 > p {
    margin-top: 20px;
    box-shadow: 3px 3px 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: white;


}

.img1 > img {
    max-width: 260px;

}