@charset "UTF-8";
@font-face {
    font-family: "h1font" ;
    src: url("assionOne-Bold.ttf");
}


* {
    margin: 0px;
    padding: 0px;
}
body {
    background-color: white;

}

header {
    margin: auto;
    background-color:black ;
    color: white;
    text-align: center;
}
header > h1 {
    font-family: "h1font", cursive,;
    font-size: 10vh;
    padding-top: 50px; 
}
header > p {
    font-size: 1em;
    padding-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
    background-color: white;
    color: black ;
    padding: 20px;


}

article {
    padding-bottom: 2em;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bold;

}
a:hover{
    text-decoration: underline;

}
