@charset "UTF-8";


body {
    background-color: rgba(184, 255, 203, 0.887);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
 color:rgb(4, 135, 39);

}

h2 {
 color: rgb(49, 97, 50);
}

h1#principal {
    background-color: green;
    border-radius: 10px 10px 10px;
color: black;
text-align: center;
}

.basico {
    color: rgb(49, 97, 50);
}

.intermediario {
    color: rgb(97, 91, 49);
}

.avançado {
    color: rgb(97, 49, 49);
}